<h3>Make your bet..</h3>
<p>You have a balance of &pound;<%= session[:player_balance] %>.</p>
<div class="row">
  <div class="col-md-4">
    <form action='/bet' method='post'>
      <div class="input-group">
        <input type="text" name="player_bet" class="form-control" placeholder="Your bet...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Make bet</button>
        </span>
      </div>
    </form>
  </div>
</div>
