<% if session[:player_balance] > 0 %>
<h3>Thanks for playing!</h3>
<div class="row">
  <div class="col-md-6">
    <p>You amassed a fortune of &pound;<%= session[:player_balance] %>, maybe it's time to hit up Vegas?<br>
    Or you could <a href="/new_player">start over</a></p>
  </div>
</div>
<% end %>

<% if session[:player_balance] <= 0 %>
<h3>Sorry, you're broke!</h3>
<div class="row">
  <div class="col-md-6">
    <p>Time to mortgage the house.<br>
    Or you could <a href="/new_player">start over</a></p>
  </div>
</div>
<% end %>
