<h3>Welcome</h3>

<div class="row">
  <div class="col-md-4">
    <form action='/new_player' method='post'>
      <div class="input-group">
        <input type="text" name="player_name" class="form-control" placeholder="Your name...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Play!</button>
        </span>
      </div>
    </form>
  </div>
</div>
