body {
  background-color: #338533;
  color: #fff;
}
p a, p a:visited {
  color: #ccc;
}
p a:hover, p a:active {
  color: #fff;
  text-decoration: underline;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}
.panel {
  background: #efefef;
  color: #000;
}
.card_image {
  width: 106px;
  height: 153px;
  margin: 5px;
}
.well {
  background-color: #005200;
  border-top: 3px solid #004700;
  border-left: 2px solid #003D00;
  border-right: 0px solid #003D00;
  border-bottom: 0;
}
